<template name="home">
  <div class="tweet-block">
    <blockquote class="twitter-tweet" data-lang="en">
      <div class="no-script">
        <p lang="en" dir="ltr">Has anyone made a simple
          <a href="https://twitter.com/clearbit">@clearbit</a>
          menu bar app to dump the odd email into? I would pay for that.
        </p>
        &mdash; Luke Beard (@LukesBeard)
        <a href="https://twitter.com/LukesBeard/status/888157920550158336">July 20, 2017</a>
      </div>
    </blockquote>
  </div>

  <div class="logo-block">
    <img src="./logo-green.svg">
  </div>

  <div class="content-block">
    <h1>Yes, We Have</h1>
    <h2>Meet <span>Whodis</span>, your new best friend for email lookups</h2>
    <p>Whodis is a simple Mac menu bar app connected to the <a href="https://clearbit.com/enrichment">Clearbit API</a>. With this little widget in your toolbar you can quickly unlock a wealth of information on any email address you throw at it. And at 10¢ per search you won't break the bank either. Easy, powerful and cheap. <a href="https://twitter.com/hashtag/winning">#winning</a></p>

    <h3>Download today and get your first 20 searches free!</h3>
    <a class="download" href="/download">Download</a>
  </div>
</template>
